@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&family=Scada&display=swap');

/* general styles */
body {
    background-color: #FFFFFF;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 120%;

    text-transform: uppercase;
}

.goto {
    font-size: 18px;
}

.description {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;

    color: #000000;
}

.date {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-size: 14px;
    line-height: 120%;

    color: #6F6F6E;
}

.more button {
    display: inline-flex;
    cursor: pointer;
    background: none;
    border: none;
}

.more button img {
    margin-left: 10px;
}

/* header section */
header {
    position: absolute;
    width: 100%;
    height: 105px;
    z-index: 1;
    left: 0;
    top: 0;
}

header > div {
    position: absolute;
}

.logo {
    width: 192px;
    height: 75px;
    left: 360px;
    top: 17px;

    background: url(assets/logo.svg);
}

header > .navbar {
    width: 685px;
    height: 21px;
    left: 617px;
    top: 44px;

    display: inline-flex;
    justify-content: space-between;
}

header > .navbar > a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    text-decoration: none;
    color: #2D2D2D;
}

.phone {
    width: 191px;
    height: 42px;
    left: 1369px;
    top: 35px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 0.5vw;
}

.phone > div {
    margin: auto;
}

.phone > .icon {
    width: 14px;
    height: 14px;

    background: url(assets/phone.svg);
}

.phone > .number {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;

    color: #2D2D2D;
}

.phone > #more {
    width: 12px;
    height: 7px;

    cursor: pointer;
    background: url(assets/wrap.svg);
}

.phone > #more:hover {
    background: url(assets/unwrap.svg);
}

.phone > #order {
    grid-row: 2;
    grid-column: 2;
    margin-right: 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    color: #2D2D2D;
    border-bottom: 1px dashed #2D2D2D;
}

/* about section */
#about {
    position: absolute;
    width: 100%;
    height: 687px;
    left: 0;
    top: 0;
}

#about > div {
    position: absolute;
    z-index: 0;
}

#about > .background {
    width: inherit;
    height: inherit;

    background: #DC911B;
    opacity: 0.3;
}

#about > .image {
    width: 974px;
    height: 606px;
    left: 755px;
    top: 81px;

    background: url(assets/banner.png);
    mix-blend-mode: multiply;
}

#about > .filter {
    width: inherit;
    height: inherit;

    background: #DC911B;
    mix-blend-mode: color;
}

.banner {
    width: 448px;
    height: 144px;
    left: 360px;
    top: 284px;

    font-size: 32px;
    line-height: 150%;

    color: #3E3E3D;
}

/* services section */
#services {
    position: absolute;
    width: 100%;
    height: 2054px;
    left: 0;
    top: 687px;
}

#services > div {
    position: absolute;
}

#services > .title {
    width: 259px;
    height: 43px;
    left: 831px;
    top: 100px;

    color: #000000;
}

#services > .container {
    width: 975px;
    height: 1462px;
    top: 273px;

    padding: 75px 462px 244px 483px;
    background: url(assets/services.svg) no-repeat;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 212px);
    grid-row-gap: 200px;
}

.service {
    width: 575px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-row-gap: 32px;
}

.service > .title {
    font-size: 24px;
    color: #000000;
}

.service > .more,
#contacts .more {
    box-sizing: border-box;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 11px 26px;
    gap: 10px;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 120%;
    color: #000000;
    text-transform: lowercase;

    cursor: pointer;
    background: none;
    border: 1px solid #DC911B;
    border-radius: 5px;
}

.service > .more:hover,
#contacts .more:hover {
    color: #FFFFFF;
    background: #DC911B;
}

.service:nth-child(2n+1) {
    margin-left: auto;
}

.service > .more {
    margin-left: auto;
}

/* reviews & documents section */
#reviews {
    position: absolute;
    width: 100%;
    height: 758px;
    left: 0;
    top: 2741px;

    background: #3E3E3D;
}

#documents {
    position: absolute;
    width: 100%;
    height: 758px;
    left: 0;
    top: 6068px;

    background: #3E3E3D;
}

#reviews > div,
#documents > div {
    position: absolute;
}

#reviews > .title,
#documents > .title {
    width: 352px;
    height: 43px;
    left: 564px;
    top: 125px;

    color: #FFFFFF;
}

#reviews > .image {
    width: 577px;
    height: 535px;
    left: 1053px;
    top: 82px;

    background: url(assets/reviews.svg) no-repeat;
}

#documents > .image {
    width: 486px;
    height: 500px;
    left: 1191px;
    top: 117px;

    background: url(assets/documents.svg) no-repeat;
}

#reviews > .container,
#documents > .container {
    width: 820px;
    height: 416px;
    left: 276px;
    top: 274px;
}

.slider {
    position: absolute;
    width: inherit;
    height: 338px;

    display: flex;
    justify-content: space-between;
}

.review, .document {
    width: 240px;
    height: inherit;

    background: url(assets/review.png) no-repeat;
}

.navbar {
    position: absolute;
    width: 100%;
    top: 378px;

    display: inline-flex;
    justify-content: center;
}

.navbar > button {
    padding: 9px 14px 8px 13px;

    cursor: pointer;
    background: #DC911B;
    border: none;
}

.navbar > button:disabled {
    background-color: #C4C4C4;
}

#reviews .more,
#documents .more,
.new .title {
    position: absolute;
    width: 132px;
    height: 22px;
    right: 24px;
    bottom: 0;

    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;

    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

/* actions section */
#actions {
    position: absolute;
    width: 100%;
    height: 1140px;
    left: 0;
    top: 3499px;
}

#actions > div {
    position: absolute;
}

#actions > .title {
    width: 171px;
    height: 43px;
    left: 462px;
    top: 76px;
}

#actions .container {
    left: 422px;
    top: 218px;
}

.action {
    position: relative;
    width: 1050px;
    height: 312px;
    margin-top: 105px;
    padding: 0 20px;
}

.action:first-child {
    margin-top: 0;
}

.action > img {
    position: absolute;
    width: 556px;
    height: 312px;
    left: 20%;
}

.action > .preview {
    position: absolute;
    width: inherit;
    height: 55%;
    bottom: 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 430px;
    grid-row-gap: 47px;
}

.action .date {
    font-weight: 700;

    display: flex;
    align-items: center;
}

.action button {
    width: 42px;
    height: 42px;
    padding: 11px 15px 13px 17px;

    justify-self: end;

    cursor: pointer;
    background: #DC911B;
    border: none;
}

#actions .more {
    position: absolute;
    right: 0;
    margin-top: 92px;
}

/* news section */
#news {
    position: absolute;
    width: 100%;
    height: 471px;
    left: 0;
    top: 4639px;
}

#news > div {
    position: absolute;
}

#news > .container {
    width: 975px;
    height: inherit;
    left: 0;
    margin-left: 31%;

    display: inline-flex;
}

#news > .background {
    width: 48%;
    height: 100%;
    left: 0;
    top: 0;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    background: #EDEEEF;
}

#news > .background > .title {
    width: 189px;
    height: 150px;
}

#news .image {
    width: 113px;
    height: 203px;

    background: url(assets/news.svg) no-repeat;
}

.new {
    position: relative;
    width: 345px;
    height: 250px;
    top: 23%;
    padding: 0 45px;

    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
}

.new .title {
    position: initial;
    width: fit-content;

    color: #000000;
}

.new button {
    width: 42px;
    height: 42px;
    padding: 11px 15px 13px 17px;

    cursor: pointer;
    background: #DC911B;
    border: none;
}

.new:nth-last-child(3n-1) {
    border-left: 1px solid #B1B1B0;
}

#news .more {
    position: absolute;
    right: 8.2%;
    bottom: 12%;
    margin-top: 66px;

    display: inline-flex;
}

/* contacts section */
#contacts {
    position: absolute;
    width: 100%;
    height: 540px;
    left: 0;
    top: 5110px;
}

#contacts > div {
    position: absolute;
}

#contacts > .background {
    width: 1920px;
    height: 312px;
    top: 133px;
    padding: 40px 0;

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: url(assets/contacts.svg) no-repeat;
}

#contacts .container {
    width: 617px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

#contacts .title {
    font-size: 24px;
    margin: 8px;
}

#contacts .description {
    white-space: nowrap;
    font-size: 14px;
}

#contacts #request-form {
    margin-top: 35px;
}

#contacts #request-form input {
    margin-bottom: 35px;
    padding-left: 10px;
    padding-bottom: 5px;

    background: none;
    border: unset;
    border-bottom: 1px solid #3E3E3D;
    outline: 0;
}

#contacts #request-form input:focus {
    border-bottom: 1px solid #DC911B;
}


#contacts #request-form input::placeholder {
    font-family: 'Scada', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;

    opacity: 0.8;

    color: #3E3E3D;
}

#contacts #request-form #phone {
    margin-left: 55px;
}

#contacts #request-form .more {
    margin: auto;
}

/* clients section */
#clients {
    position: absolute;
    width: 100%;
    height: 613px;
    left: 0;
    top: 6825px;

    display: inline-flex;
    justify-content: center;
}

#clients > div {
    position: absolute;
}

#clients > .title {
    left: 565px;
    top: 57px;
}

#clients > .container {
    width: 1200px;
    height: 360px;
    top: 160px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

#clients img {
    width: 220px;
    height: 60px;
    padding: 60px 40px;

    border: 1px solid #F2F2F2;
}
